html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
}

fieldset {
    height: 345px;
    display: flex;
}

input {
    height: 50px;
    margin: 5px;
}

#Contact {
    font-size: 30px;
    color: navy;
}

#Menu {
    float: right;
    margin: 50px;
    color: navy;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2){
main {
    height: calc(80vh - 10px);
    flex-direction: row;
    justify-content: space-evenly;
}
  }